/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define QWE 1
#define NAV 2
#define SYM 3
#define NUM 4
#define FUN 5
#define ADJ 6
#define LOK 7
#define ULK 8

#define WINR LC(LG(RIGHT))
#define WINL LC(LG(LEFT))
#define CC LC(C)
#define CX LC(X)
#define CP LC(V)
#define PT LC(LS(TAB))
#define NT LC(TAB)

#define LST(tapcode) &hmg LSHIFT tapcode
#define RST(tapcode) &hmg RSHIFT tapcode
#define LCT(tapcode) &hmg LCTRL tapcode
#define RCT(tapcode) &hmg RCTRL tapcode
#define LAT(tapcode) &hmg LALT tapcode
#define RAT(tapcode) &hmg RALT tapcode
#define LGT(tapcode) &hmg LGUI tapcode
#define RGT(tapcode) &hmg RGUI tapcode


// Key Positions 
//  0   1   2   3   4       5   6   7   8   9
//  10  11  12  13  14      15  16  17  18  19
//  20  21  22  23  24      25  26  27  28  29
//          30  31  32      33  34  35

/ {
    combos {
        compatible = "zmk,combos";

        c_esc {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp ESC>;
            layers = <0 1>;
        };

        c_semi {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp SEMI>;
            layers = <0 1>;
        };

    };
    
    conditional_layers {        
        compatible = "zmk,conditional-layers";        
        
        tri_layer {            
                if-layers = <4 5>;            
                then-layer = <6>;        
        };    
    };

    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            #binding-cells = <2>;
            tapping_term_ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hmg: homerow_mod_gqt {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            #binding-cells = <2>;
            tapping_term_ms = <150>;
            quick_tap_ms = <50>;
            global-quick-tap;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hmb: homerow_mod_b {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        th: tap_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD";
            #binding-cells = <2>;
            tapping_term_ms = <150>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
            compatible = "zmk,keymap";

            default_layer {

// Base Layer: Colemak
//
// ,----------------------------------.        ,----------------------------------.
// |   Q  |   W  |   F  |   P  |   B  |        |   J  |   L  |   U  |   Y  | '  " |
// |      |      |      |      |      |        |      |      |      |      |      |
// |------+------+------+------+------|        |------+------+------+------+------|
// |   A  |   R  |   S  |   T  |   G  |        |   M  |   N  |   E  |   I  |   O  |
// |  GUI |  ALT | SHFT | CTRL |      |        |      | CTRL | SHFT |  ALT |  GUI |
// |------+------+------+------+------|        |------+------+------+------+------|
// |   Z  |   X  |   C  |   D  |   V  |        |   K  |   H  | ,  < | .  > | /  ? |
// | SHFT |      |      |      |      |        |      |      |      |      | SHFT |
// `------+------+------+------+------|        |------+------+------+------+------'
//               | ESC  | TAB  | SPC  |        | BSP  | RET  | DEL  |
//               |      | FUNC | NAV  |        | SYM  | NUM  |      |
//               `--------------------'        `--------------------'
//

                bindings = <
    &kp Q    &kp W   &kp F    &kp P         &kp B               &kp J         &kp L        &kp U      &kp Y     &kp SQT
    LGT(A)   LAT(R)  LST(S)   LCT(T)        &kp G               &kp M         RCT(N)       RST(E)     LAT(I)    RGT(O)
    LST(Z)   RAT(X)  &kp C    &kp D         &kp V               &kp K         &kp H        &kp COMMA  RAT(DOT)  RST(FSLH)
                     &kp ESC  &th NUM TAB   &th NAV SPACE       &th SYM BSPC  &th FUN RET  &kp DEL
                >;
            };

            qwerty_layer {

// Base Layer: QWERTY
//
// ,----------------------------------.        ,----------------------------------.
// |   Q  |   W  |   E  |   R  |   T  |        |   Y  |   U  |   I  |   O  |   P  |
// |      |      |      |      |      |        |      |      |      |      |      |
// |------+------+------+------+------|        |------+------+------+------+------|
// |   A  |   S  |   D  |   F  |   G  |        |   H  |   J  |   K  |   L  | '  " |
// |  GUI |  ALT | SHFT | CTRL |      |        |      | CTRL | SHFT |  ALT |  GUI |
// |------+------+------+------+------|        |------+------+------+------+------|
// |   Z  |   X  |   C  |   V  |   B  |        |   N  |   M  | ,  < | .  > | /  ? |
// | SHFT |      |      |      |      |        |      |      |      |      | SHFT |
// `------+------+------+------+------|        |------+------+------+------+------'
//               | ESC  | TAB  | SPC  |        | BSP  | RET  | DEL  |
//               |      | FUNC | NAV  |        | SYM  | NUM  |      |
//               `--------------------'        `--------------------'
//

                bindings = <
    &kp Q   &kp W   &kp E   &kp R    &kp T              &kp Y          &kp U     &kp I        &kp O     &kp P
    LGT(A)  LAT(S)  LST(D)  LCT(F)   &kp G              &kp H          RCT(J)    RST(K)       LAT(L)    RGT(SQT) 
    LST(Z)  RAT(X)  &kp C   &kp V    &kp B              &kp K          &kp H     &kp COMMA    RAT(DOT)  RST(FSLH)
                            &kp ESC  &th NUM TAB        &th NAV SPACE  &kp BSPC  &th SYM RET  &kp DEL
                >;
            };
                
            nav_layer {

// Navigation Layer
//		- Also contains some single-hand shortcuts for basic functions 
//
// ,----------------------------------.        ,----------------------------------.
// | ESC  |      | PAST | COPY | CUT  |        | HOME | PGUP | PGDN | END  | BSPC |
// |      |      |      |      |      |        |      |      |      |      |      |
// |------+------+------+------+------|        |------+------+------+------+------|
// |      |      |      |      | RET  |        | LEFT | DOWN |  UP  | RGHT | RET  |
// | GUI  | ALT  | SHFT | CTRL |      |        |      |      |      |      |      |
// |------+------+------+------+------|        |------+------+------+------+------|
// |      |      |      |      |      |        |      | <-D  |      | D->  | DEL  |
// |      |      |      |      |      |        |      |      |      |      |      |
// `-------------+------+------+------|        |------+------+------+-------------'
//               |      |      |      |        |      |      |      |
//               |      |      |      |        |      |      |      |
//               `--------------------'        `--------------------'
//
                bindings = <
   &kp ESC  &none     &kp LC(V)  &kp LC(C)   &kp LC(X)      &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp BSPC
   &kp LGUI &kp LALT  &kp LSHIFT &kp LCTRL   &kp RET        &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp RET
   &none    &none     &kp PT     &kp NT      &none          &none     &kp WINL   &none      &kp WINR   &kp DEL
                      &trans     &trans      &trans         &trans    &trans     &trans
                >;
            };

            sym_layer {

// Symbol Layer
//		- Lots of WIP here
//		- But the Frey seems like the easiest to start with
//		- Then I sort of filled in gaps, planning on a 5 column layout
//
// ,----------------------------------.        ,----------------------------------.
// |  !   |  @   |  #   |  $   |  %   |        |  ^   |  &   |  *   |  |   |  \   |
// |      |      |      |      |      |        |      |      |      |      |      |
// |------+------+------+------+------|        |------+------+------+------+------|
// | `  ~ |  {   |  (   |  )   |  }   |        |      | =  + | -  _ |  :   | ;  : |
// | GUI  | ALT  | SHFT | CTRL |      |        |      | CTRL | SHFT | ALT  | GUI  |
// |------+------+------+------+------|        |------+------+------+------+------|
// |  ~   |  <   |  [   |  ]   |  >   |        |      |  +   |  _   |      |  /   |
// |      |      |      |      |      |        |      |      |      |      |      |
// `-------------+------+------+------|        |------+------+------+-------------'
//               |      |      |      |        |      |      |      |
//               |      |      |      |        |      |      |      |
//               `--------------------'        `--------------------'
//
                bindings = <
   &kp EXCL         &kp AT           &kp HASH          &kp DLLR         &kp PRCNT       &kp CARET   &kp AMPS          &kp ASTRK          &kp PIPE         &kp QMARK
   &hm LGUI GRAVE   &hm LALT LBRC    &hm LSHIFT LPAR   &hm LCTRL RPAR   &kp RBRC        &none       &hm RCTRL EQUAL   &hm RSHIFT MINUS   &hm LALT COLON   &hm RGUI SEMI
   &kp TILDE        &kp LT           &kp LBKT          &kp RBKT         &kp GT          &none       &kp PLUS          &kp UNDER          &kp BSLH         &kp FSLH
                                     &trans            &trans           &trans          &trans      &trans            &trans                        
                >;
            };

            num_layer {
//
// Number layer
//
// ,----------------------------------.         ,----------------------------------.
// |      |      |      |      |      |         | 6  ^ | 7  & | 8  * | 9  ( | 0  ) |
// |      |      |      |      |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// |      |      |  .   |  =   |      |         |  -   | 4  $ | 5  % | 6  ^ |  *   |
// | GUI  | ALT  | SHFT | CTRL |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// |      |      |      |      |      |         |  _   | 1  ! | 2  @ | 3  # |  /   |
// |      |      |      |      |      |         |      |      |      |      |      |
// `-------------+------+------+------|         |------+------+------+-------------'
//               |      |      |      |         | BSPC | RET  | DEL  |
//               |      |      |      |         |      |      |      |
//               `--------------------'         `--------------------'
//
                bindings = <
            &none     &none     &none     &none       &none         &none      &kp N7   &kp N8  &kp N9  &kp N0 
            &kp LGUI  &kp LALT  LST(DOT)  LCT(EQUAL)  &none         &kp MINUS  &kp N4   &kp N5  &kp N6  &kp ASTRK
            &none     &none     &none     &none       &none         &kp UNDER  &kp N1   &kp N2  &kp N3  &kp FSLH
                                &trans    &trans      &trans        &kp BSPC   &kp RET  &kp DEL 
                >;
            };            

            fun_layer {
//
// F-Key Layer
// + Left hand shortcuts
//
// ,----------------------------------.         ,----------------------------------.
// | Brk  |      | Past | Copy | Cut  |         | Ins  |  F11 |  F12 | Prt  | Caps |
// |      |      |      |      |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// |      |      |      |      | Ret  |         |  F1  |  F2  |  F3  |  F4  |  F5  |
// | GUI  | Alt  | Shft | Ctrl |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// |      |      |      |      | Bspc |         |  F6  |  F7  |  F8  |  F9  | F10  |
// |      |      |      |      |      |         |      |      |      |      |      |
// `-------------+------+------+------|         |------+------+------+-------------'
//               |      |      |      |         |      |      |      |
//               |      |      |      |         |      |      |      |
//               `--------------------'         `--------------------'
                bindings = <
    &kp PAUSE_BREAK  &none     &kp LC(V)  &kp LC(C)  &kp LC(X)     &kp INS  &kp F11  &kp F12  &kp PSCRN  &kp CAPS
    &kp LGUI         &kp LALT  &kp LSHIFT &kp LCTRL  &kp RET       &kp F1   &kp F2   &kp F3   &kp F4     &kp F5
    &none            &none     &none      &none      &kp BSPC      &kp F6   &kp F7   &kp F8   &kp F9     &kp F10
                               &trans     &trans     &trans        &trans   &trans   &trans
                >;
            };

            adj_layer {
//
// Layer Template
//
// ,----------------------------------.         ,----------------------------------.
// | boot |      | Bri+ | Vol+ | BCLR |         | QWE  |      | NUML | SCRL | boot |
// |      |      |      |      |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// | rst  |      | Bri- | Vol- |      |         |      | BT 1 | BT 2 | BT 3 | rst  |
// |      |      |      |      |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// | LOCK |      |      | MUTE |      |         |      |      |      |      |      |
// |      |      |      |      |      |         |      |      |      |      |      |
// `-------------+------+------+------|         |------+------+------+-------------'
//               |      |      |      |         |      |      |      |
//               |      |      |      |         |      |      |      |
//               `--------------------'         `--------------------'

                bindings = <
        &bootloader &none &none   &kp C_VOL_UP  &bt BT_CLR            &tog QWE  &none         &none         &none         &bootloader
        &reset      &none &none   &kp C_VOL_DN  &none                 &none     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &reset
        &tog LOK    &none &none   &kp C_MUTE    &none                 &none     &none         &none         &none         &none
                          &trans  &trans        &trans                &trans    &trans        &trans 
                >;
            };

            

            lock_layer {

                bindings = <
        &none   &none &none &none &none     &none &none &none &none &none
        &none   &none &none &none &none     &none &none &none &none &none
        &mo ULK &none &none &none &none     &none &none &none &none &none
                      &none &none &mo ULK   &none &none &none 
                >;
            };

            unlock_layer {

                bindings = <
        &none    &none &none &none &none       &none &none &none &none &none
        &none    &none &none &none &none       &none &none &none &none &none
        &tog LOK &none &none &none &none       &none &none &none &none &none
                       &none &none &tog LOK    &none &none &none 
                >;
            };


//              blank_layer {
//
// Layer Template
//
// ,----------------------------------.         ,----------------------------------.
// |      |      |      |      |      |         |      |      |      |      |      |
// |      |      |      |      |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// |      |      |      |      |      |         |      |      |      |      |      |
// | GUI  | ALT  | SHFT | CTRL |      |         |      |      |      |      |      |
// |------+------+------+------+------|         |------+------+------+------+------|
// |      |      |      |      |      |         |      |      |      |      |      |
// |      |      |      |      |      |         |      |      |      |      |      |
// `-------------+------+------+------|         |------+------+------+-------------'
//               |      |      |      |         |      |      |      |
//               |      |      |      |         |      |      |      |
//               `--------------------'         `--------------------'
//
//                      bindings = <
//              &none &none &none &none &none    &none &none &none &none &none
//              &none &none &none &none &none    &none &none &none &none &none
//              &none &none &none &none &none    &none &none &none &none &none
//                          &none &none &none    &none &none &none 
//                      >;
//              };

        };
};
